
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CustomStyles
{
    @Styles.Render("~/Content/admin-index-styles")
    @Styles.Render("~/Content/angular-styles")
    
}
<div class="angular-app" ng-app="adminApp" ui-view>

    @*DYNAMIC VIEW FROM ANGULAR STATES*@

</div>


@section scripts
{
    @Scripts.Render("~/bundles/angular-dependencies");

    @Scripts.Render("~/bundles/angular-scripts");

}
