/*PHOTO ENLARGE - ZOOM*/
/*////////////////////*/

/*layout for photo enlarge*/
#photo-enlarge {
    display: none; /*Hidden at first*/
    position: fixed; /*Shows above other content*/
    background-color: white; /*Background*/
    background-color: rgba(255,255,255,0.9); /*Background*/
    /*size - takes full screen*/
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*padding margin 0, overwrites defaults*/
    padding: 0;
    margin: 0;
    z-index: 20000; /*z-index to show it above everything*/
}

/*photo and photo title container*/
#photo {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
    text-align: center; /*center aligned content*/
    padding: 50px 2% 5% 2%;
}

    /*img css*/
    #photo > img {
        max-width: 100%; /*doesnt escape container*/
        max-height: 100%; /*doesnt escape container*/
        border: 1px solid #eee;
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /*photo  title*/
    #photo > span {
        display: none;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 5000;
        width: 80%; /*Width of title container*/
        margin: auto;
        font-weight: bold;
        background-color: white;
    }

    /*CLose photo enlargement button*/
#close-photo-enlarge {
    /*positioned top right*/
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 20px;

    /*color*/
    color: #eee;

    /*size*/
    width: 30px;
    height: 30px;
    font-size: 30px;

    /*cursor*/
    cursor: pointer;

    z-index: 100000;
}

/*close photo enlargement on hover*/
    #close-photo-enlarge:hover {

        color: darkgray;
    }
