@using PagedList.Mvc
@model PagedList.PagedList<NivesBrelihPhotography.Models.AboutModels.ViewModels.ReferenceView>
@{
    ViewBag.Title = "Reference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var reference in @Model)
{
    <a class="reference-link" href="/References/Reference/@reference.ReferenceId">
        <div class="reference-group">

            <div class="reference-photo-index">
                <img class="img-responsive ref-photo" src="/Images/Photos/MID/@reference.LeadPhoto.PhotoUrl" alt="@reference.LeadPhoto.PhotoTitle" />
            </div>
            <div class="reference-text-index">
                <p>@reference.Title</p>
            </div>

        </div>
    </a>
}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

@section CustomStyles
{
    @Styles.Render("~/Content/references-index-styles");
}
