@model ICollection<NivesBrelihPhotography.Models.AboutModels.ViewModels.ReferenceView>
@{
    ViewBag.Title = "References";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

@foreach (var reference in @Model)
{
    <div class="reference-group">
        <div class="reference-photo-index">
            <img class="img-responsive" src="/Images/Photos/MID/@reference.LeadPhoto.PhotoUrl" alt="@reference.LeadPhoto.PhotoTitle" />
        </div>
        <div class="reference-text-index">
            <p>@reference.Title</p>
        </div>
    </div>
}

<style>
    
    .reference-group {
        display: table;
        height: 300px;
        border: 1px solid #eee;
        border-radius: 4px;
    }
    .reference-group .reference-photo-index {
        display: table-cell;
    }
    .reference-group .reference-text-index {
        display: table-cell;
        vertical-align: middle;
    }

</style>
