/*ADMIN ABOUT REFERENCES MAIN STYLES START*/



    /*styles for reference action inside table*/
    #references-view .reference-actions {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    #references-view .reference-actions button {
        margin: 0 5px;
    }


    /* styles for page pagination */
    #references-view .references-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #references-view .references-pagination span {
        margin: 0 20px;
    }

    /*ADMIN ABOUT REFERENCES MAIN STYLES END*/