/*ADMIN ABOUT REFERENCES ADD SECTION START*/
    
    /*Back link when adding new photo wrapper styles*/
     #reference-add .add-photo .back-link {

         margin-top: 20px;
         padding-left: 40px;
        
     }
    /*Back link when adding new photo styles*/
    #reference-add .add-photo .back-link span {
        font-size: 1.1em;
        font-weight: bolder;
        cursor: pointer;
    }

    /*button to open new photo element styles*/
    #reference-add .new-reference #add-photo-btn {
        margin-top: 10px;
    }


    /* reference photos wrapper*/
    #reference-add #search-ref-photos {
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #ccc;
        outline: none;
        box-shadow: none;
        width: 200px;
        margin-left :20px;
    }

    /*ADMIN ABOUT REFERENCES ADD SECTION END*/