/*STYLES FOR ANGULAR CATEGORIES ADMIN section START*/

/*wrapper width*/
#category-admin-index {
        width: 100%;
    }

    /*categories wrapper styles*/
    #category-admin-index ul {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        list-style-type: none;
    }

    /*every category size*/
    #category-admin-index ul li {
        width: 100%;
        max-width: 350px;
    }

    /*extra padding form edit/remove button*/
    #category-admin-index .list-group-item-text {
        padding: 10px;
    }

        /*styles form edit inputs*/
        #category-admin-index ul li .change-category {
            display: flex;
            padding: 10px;
            align-items: center;
        }

            /*textarea input extra styles*/
            #category-admin-index ul li .change-category input {
                margin-right: 15px;
            }
                    
            /*extra padding for between buttons*/
            #category-admin-index ul li .change-category button {
                margin:0px 5px;
            }
                
    /*styles for page pagination*/
    #category-admin-index .category-admin-pagination {
        padding-left: 40px;
        max-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*style for pagination page number texts*/
    #category-admin-index .category-admin-pagination span {
        padding: 0 10px;
    }

    /*styles for add category btn*/
     #category-admin-index p {
         padding-left: 50px;
         padding-bottom: 20px;
     }
    #category-admin-index .new-category-btn {
        font-size: 1.4em;
        cursor: pointer;
    }

    /* styles for new category wrapper/content*/
    #category-admin-index .new-category-wrapper {
        max-width: 350px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 10px 15px;
        margin-left: 40px;
        margin-bottom: 20px;
    }
    #category-admin-index .new-category {
        display: flex;
        padding: 10px;
        align-items: center;
    }
    #category-admin-index .new-category input {
        margin-right: 15px;
    }
    #category-admin-index .new-category button {
        margin:0px 5px;
    }


    /*no extra padding when on smaller screens*/
    @media(max-width: 550px) {
        #category-admin-index ul {
            padding-left: 0px;
        }
        #category-admin-index .new-category-wrapper {
            margin-left: 0px;
        }
    }

/*STYLES FOR ANGULAR CATEGORIES ADMIN section START*/