.angular-app {
    padding-left: 15px;
    padding-right: 15px;
}
p.back-anchor {
        text-align: center;
        margin: 40px 0 20px 0;
}
p.no-bot-margin {
    margin-bottom: 0px;
}

.new-item {
     text-align: right;
     font-size: 1.5em;
     padding: 20px 50px 10px 0px;
}
.new-item i {
    cursor: pointer;
}

/* LOADER WRAPPER */
.loader-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Raleway', sans-serif; }

/*LOADER STYLES*/
  .loader-wrapper .loader {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: lighten #efefef;
    position: relative;
    box-sizing: border-box; }

  /*ACTUAL SPINNERS*/
    .loader-wrapper .loader:after, .loader-wrapper .loader:before {
      content: "";
      width: 100%;
      display: block;
      height: 100%;
      border-radius: 50%;
      position: absolute;
      background-color: transparent;
      border: 4px solid transparent;
      border-bottom-color: #eb6864;
      box-sizing: border-box;
      z-index: 1000;
      -webkit-animation: spin 2000ms ease-in-out infinite;
              animation: spin 2000ms ease-in-out infinite; }
    /*COLORS FOR BOTH SPINNERS*/
    .loader-wrapper .loader:after {
      border-top-color: #404040; }
    .loader-wrapper .loader:before {
      border-bottom-color: #eb6864; }

    /*TEXT STYLES*/
  .loader-wrapper .loader-text {
    padding: 20px;
    color: #404040;
    font-style: italic; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }




.admin-controller-selector {
        
        /*block styling - container of clickables*/
        min-height: 250px;
        border: 3px solid #eee;
        border-radius: 5px;
        cursor: pointer;
        padding: 2px;
        color: #777;
        /*background-color: #eeeeee;*/
        font-weight: bolder;

        /*transition for every change on hover*/
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;

    }
    /*hover effects*/
    .admin-controller-selector:hover {

        /*bg color*/
        /*background-color: #eee;*/
        background-color: white;
        /*border color*/
        /*border-color: #777;*/
        border-color: #eb6864;
        color:#eb6864;

        /*font styles*/
        font-size: 1.3em;
        /*font-weight: bolder;*/

    }
    .admin-selector-text {

        /*text position - centered in block*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        /*font size*/
        font-size: 1.2em;

    }
