
    /* ADMIN ALBUMS MAIN STYLE START */

    /*img container styles*/
     #albums-view .table-photo-container {
         max-width: 200px;

     }
     /*responsive img*/
    #albums-view .table-photo-container img {
        max-width: 100%;
    }

    /*albums actions wrapper and buttons styles*/
    #albums-view .albums-actions {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #albums-view .albums-actions button {
        margin: 0 5px;
    }
    #albums-view .pages span {
        padding-left: 20px;
        padding-right: 20px;

    }


    /*SEARCH PHOTOS AND ADD NEW PHOTO BUTTON STYLES*/

    /*button to open new photo element styles*/
    #albums-add-wrapper #add-photo-btn {
        margin-top: 10px;
        margin-bottom: 10px;

    }


    /* reference photos wrapper*/
    #albums-add-wrapper #search-photos {
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid #ccc;
        outline: none;
        box-shadow: none;
        width: 200px;
        margin-left :20px;
    }

    /*responsivness*/
    @media(max-width: 550px) {
         #albums-view .albums-actions {
             flex-direction: column;
         }
         #albums-view .albums-actions button {
             margin: 5px 0px;
        }
    }

    /* ADMIN ALBUMS MAIN STYLE END */