@using NivesBrelihPhotography.Models.PhotoModels
@model IEnumerable<NivesBrelihPhotography.Models.PhotoModels.Photo>

<div id="photos" class="masonry-layout">

    @*sizer for masonry layout*@
    <div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>

    @foreach (var photo in Model)
    {
        <div class="masonry-image img-container col-xs-12 col-sm-6 col-md-4">
            <img src="~/Images/Photos/MIN/@photo.PhotoUrl" data-href="/Images/Photos/MID/@photo.PhotoUrl" class="img-responsive" />
            <div class="img-description"> <span>@photo.PhotoTitle</span> </div>

        </div>
    
    }
</div>