<ul id="ul-photos-directive">
    <li ng-repeat="photo in photos | orderBy:'-checked' | filter:search ">
        <div class="photo-container" data-id="{{photo.PhotoId}}">
            <div class="photo-title">
                {{photo.PhotoTitle}}
            </div>
            <div class="photo-body">
                <div class="photo-img">
                    <img ng-src="/Images/Photos/MIN/{{photo.PhotoUrl}}" alt="">
                </div>
                <div class="photo-check">
                    <label>
                        <input type="checkbox" ng-change="SetModelValue(photo)" ng-model="photo.checked" ng-init="CheckIfSelected(photo)">
                    </label>
                </div>
            </div>
            
        </div>
    </li>

</ul>