/*IMAGES, CONTAINERS AND IMAGE DESCRIPTIONS CSS*/

    /*remove overflow*/
    .overflow-hidden {
        overflow: hidden;
    }

    
    /*CATEGORY SELECTION CSS*/

    /*category navigation div styles*/
     #category-navigation {

         /*first hidden to toggle it with jquery*/
         display: none; 

         /*fixed position to be always on screen*/
         position: fixed; 

         /*location*/
         bottom: 100px;
         right: 100px;

         /*visual changes to div*/
         padding: 0;
         background-color: white;
         border: 1px groove darkgray;
         border-radius: 4px;
         z-index: 1000;

         /*limit size*/
         max-height: 50vh;
         overflow-y: auto;
     }

     /*category navigation links*/
    #category-navigation a {

        /*visual changes*/
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #333 !important;
        font-weight: normal !important;
        /*font-family: 'Quicksand', "Times New Roman", Times, serif;*/
    }
    #category-navigation a:hover {
        text-decoration: none !important;
        background-color: #eeeeee !important;
    }

    /*category button*/
    #category-button {

        /*position fixed to be always shown on screen*/
        position: fixed;

        /*size*/
        /*height: 40px;
        width: 45px;*/

        padding: 25px 30px;
        
        
        font-size: 1.2em;

        /*location to right*/
        right: 100px;

        /*location*/
        bottom: 40px;
        z-index: 1000;
        
        /*visual changes*/
        background-color: white;
        color: darkgray;
        border-color: darkgray;
    }

    /*category button on hover visual changes*/
    #category-button:hover {
        background-color:#eee;
        color: black;

    }
    /*category button when clicked, same as hover*/
    .category-button-active {
        background-color:#eee !important;
        color: black !important;
    }
#category-button > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*responsivness for navigation button / list*/
@media(max-width: 800px) {
    
    #category-button {
        right: 60px;
    }
    #category-navigation {

        left: 30px;
        right: 30px;

        width: auto !important;
    }

}


