
@{
    ViewBag.Title = "Cenik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 style="font-weight:300;">Cenik</h4>
<p>Za več informacij in ponudbo, pišite na: <br /> <script type="text/javascript">createEmail()</script></p>
