@model string
@{
    ViewBag.Title = "Splošni pogoji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bussiness-conditions-wrapper">
    <h4 class="text-center conditions-header">
        Pogoji poslovanja
    </h4>
    <hr />

    @Html.Raw(Model)
</div>
@section CustomStyles{
    @Styles.Render("~/Content/conditions-styles")

}

