
@{
    ViewBag.Title = "Splošni pogoji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bussiness-conditions-wrapper">
    <h4 class="text-center">
        Pogoji poslovanja
    </h4>
    <hr />

    <h4 class="font-family-text">1. Fotograf</h4>
    <p>
        Je oseba, ki izvaja fotografiranje in je zaposleni podjetja Fotografija, Nives Brelih, Nives Brelih, 
        s.p. ali zunanji partner, ki stortitev izvaja za podjetje Fotografija, Nives Brelih, Nives Brelih s.p.

    </p>
    <h4 class="font-family-text">2. Rezervacija termina</h4>
    <p>
        Termin izbere naročnik glede na podatne možnosti s strani fotografa. 
        S pisno potrditvijo termina in navedbo podatkov (ime, priimek, naslov, tel. številka, email) naročnik potrjuje, 
        da je seznanjen z vsemi splošnimi pogoji fotografa in se z njimi strinja.
        <br />
        Posebnosti terminov:<br />
        Termini med prazniki so odprti samo za fotografiranja novorojenčkov in ostalih svečanih priložnosti.
    </p>

    <h4 class="font-family-text">3. Odpoved termina</h4>
    <p>
        Odpoved termina s strani naročnika je lahko le v primeru bolezni ali službene zadržanosti. 
        V kolikor so zaradi odpovedi nastali stroški na škodo fotografinje, 
        mora naročnik le-te pokriti v roku 3-5 dni po odpovedi termina. 
        Termin se lahko odpove najkasneje 24 ur pred fotografiranjem.
        <br/>
        Odpoved termina s strani fotografa je lahko v primeru nepredvidljivih dogodkov, 
        na katere se ne da vplivati (višja sila ali bolezen), do naročnika nima nobene obveze. 
        O tem ga mora pravočasno obvestiti, in sicer vsaj 3 ure pred predvidenim terminom fotografiranja. 
        V primeru poročnega fotografiranja se fotograf zavzame 
        za zamenjavo ali iskanje nadomestnega fotografa v sodelovanju z naročnikom.
        <br/>
        V primeru slabe vremenske napovedi, ki ni primerno za fotografiranje, 
        lahko termin odpove le fotograf. Le tega odpove vsaj 2 uri pred dogovorjenim terminom.
    </p>

    <h4 class="font-family-text">4. Cene in plačilo storitev</h4>
    <p>
        Cenik velja od 1.9.2017 do vključno 31.12.2017.
        <br />
        Cene se obračunajo po trenutno veljavnem ceniku. V primeru rezervacije termina se pri plačilu upoštevajo cene, 
        ki so veljale za dan rezervacije. Naročnik mora plačilo rezervacije izvesti najkasneje mesec dni pred projektom (velja za poroke). 
        Plačilo storitve mora izvesti na dan fotografiranja ali najkasneje v 5 dneh po fotografiranju.
        <br />
        Opomba: Za poroke je potrebna predhodna rezervacija in plačilo rezervacije v višini 100 eur najkasneje mesec dni pred poroko. 
        V primeru neplačila rezervacije, le to razumem kot odpoved termina. V primeru prestavitve ali morebitne odpovedi termina poroke. 
        V primeru odpovedi poroke manj kot mesec dni pred dogodkom, se iz plačane rezervacije povrnejo morebitni nastali stroški na škodo fotografinje. 
        Višino morebitnih nastalih stroškov lahko poda izključno samo fotograf. Preostali denar vrnemo v roku 3-5 dni po odpovedi termina. 
    </p>

    <h4 class="font-family-text">5. Prevoz</h4>
    <p>
        Potni stroški se razlikujejo glede na ceno paketa in so označeni pri specifičnem paketu. 
        Veljajo od sedeža podjetja do kraja fotografiranja, pri čemer se zaračuna tudi povratni kilometer. 
        Kilometrina se obračuna za najkrajšo oz. najbolj primerno pot. Potni stroški se poravnajo skupaj z vplačilom fotografiranja.
    </p>

    <h4 class="font-family-text">6. Popusti</h4>
    <p>
        Ponudba nima možnosti popustov, razen v primeru stalnih strank, 
        kjer se upravičenost in višina določi individualno glede na število predhodnih naročil. 
        Popusti se obračunajo zgolj na storitve in ne veljajo na izdelke in darilne bone.
    </p>

    <h4 class="font-family-text">7. Darilni bon</h4>
    <p>
        Darilni bon lahko izkoristite v času veljavnosti bona za storitev navedeno v darilnem bonu ali kakršnokoli drugo storitev v enaki vrednosti. 
        Vrednosti storitev, ki so na darilnem bonu neovrednotene veljajo 1 leto od prejema darilnega bona. 
        Pri koriščenju darilnega bona izven veljavnosti oz po 1 letu od prejetja, 
        se podarjena storitev obračuna po trenutno veljavnem ceniku, kjer razliko doplača prejemnik bona oz. tisti, ki ga koristi.
        <br />
        Menjava bona za gotovino ni možna, prav tako ni možno vračilo v primeru neizkoriščenosti bona. 
        Darilni bon ni vezan na ime, zato ga lahko podarite dalje v primeru, da še ni izkoriščen. Rezervacija termina se določi na osnovi šifre darilnega bona. 
        V primeru izgube darilnega bona, mi posredujte podatke vplačnika in mesec ter leto vplačila darilnega bona.
    </p>

    <h4 class="font-family-text">8. Slog oblikovanja in izbor fotografij</h4>
    <p>
        Spreminjanje stila oblikovanja glede na nezadovoljstvo stranke ni možno. Vsaka fotografija je rezultat umetniškega navdiha fotografa.
        <br />
        V primeru ČB fotografije ni možnosti naknadnega naročila barvne fotografije. Slog fotografije je lahko različen med naročniki, saj naj vplivajo okolje, vreme ter osebe.
        <br />
        Fotograf samostojno izbere določeno število fotografij, ki jih bo naročnik dobil. Par ima možnost sam izbrati fotografije za fotoknjigo prav tako pa lahko tudi fotograf samostojno izbere fotografije za fotoknjigo in slog oblikovanja fotoknjige. 
        Naročnik ne more naročiti surovih .raw formatov ali neobdelanih fotografij.
    </p>

    <h4 class="font-family-text">9. Rok dobave</h4>
    <p>
        Naročnik prejme fotogafije v roku od 4-8 tednov (odvisno od letnega časa in zasedenosti) na naslov, 
        ki ga navede. Fotografije prejme v digitalni obliki na USB ključku ali CD-ju. 
        Naročnik poročne knjige paket prevzame osebno, najkasneje v roku 12 tednov po dogodku. 
        Rok dobave se lahko podaljša v primeru višje sile (materialne poškodbe, tehnične težave) ali bolezni. 
        Naročnik je o tem pravočasno obveščen.
    </p>

    <h4 class="font-family-text">10. Arhiv in originali fotografij</h4>
    <p>Fotografinja ne zagotavlja obstojnosti arhiva. Kopije arhiva si zagotovi naročnik sam.</p>

    <h4 class="font-family-text">11. Uporaba fotografij s strani fotografa</h4>
    <p>
        Vsi fotografski izdelki so last podjetja Fotografija, Nives Brelih sp. 
        Fotografije se lahko uporabijo na družabnih omrežjih le v primerih, ko se stranka s tem strinja in podpiše pogodbo o modelu, 
        v primeru otrok do starosti 18. let pa prevzemajo odgovornost za njihovo objavo starši in ti zanje podpišejo pogodbo o modelu. 
        Fotografije se na družabnih omrežjih ne poimenujejo ali označijo. 
        Fotografinja ne odgovarja za kakršnokoli označevanje ali poimenovanje s stran ostalih uporabnikov.
    </p>

    <h4 class="font-family-text">12. Avtorstvo</h4>
    <p>
        Fotograf je avtor fotografije. Objava fotografij s strani naročnika, 
        na kakršenkoli način ali v kateremkoli javnem mediju (tiskani mediji, javni prostori, spletne vsebine, socialna omrežja, ipd. ...) 
        je dovoljena le z navedbo avtorja v obliki Foto: Nives Brelih. Fotografija, 
        ki jo naročnik uporabi za lastne promocijske namene oz promocijo kateregakoli podjetja in ob tem ni bilo izvedeno 
        komercialno fotografiranje oz. dorečeno ob rezervaciji termina, se mora takoj umakniti iz vseh medijev ali družbenih omrežij.
    </p>

    <h4 class="font-family-text">13. Nesoglasje</h4>
    <p>
        Fotograf in naročnik se dogovorita, da bosta reševala vsa nesoglasja sporazumno. 
        Če se rešitev morebitnega spora ne doseže sporazumno, urejata sporne zadeve preko pristojnega sodišča.
    </p>
</div>

@Styles.Render("~/Content/conditions-styles");

