@using WebGrease.Css.Ast.MediaQuery
@model ICollection<NivesBrelihPhotography.Models.PhotoModels.ViewModels.PhotoView>
@{
    ViewBag.Title = "Welcome";
}
@section CustomStyles
{
    @Styles.Render("~/Content/welcome-carousel-styles");
}

<div class="continue">
    <a href="/Portfolio">
        <div class="logo-container">
            @Html.Partial("_LogoWithText")
        </div>
    </a>
</div>
<div class="carousel slide carousel-container" data-ride="carousel">


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        @foreach (var photo in Model)
        {
            <div class="item" style="background-image: url('/Images/Photos/ORG/@photo.PhotoUrl'); background-size: cover; background-position: center; background-repeat: no-repeat;">

            </div>
        }

    </div>

</div>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
@section scripts
{
    @Scripts.Render("~/bundles/welcome-carousel-scripts");
}