<br />


<div class="row add-photo-container">

    <!--PICTURE PREVIEW-->
    <div class="photo-preview-container">
        <!--<img ng-src="{{vm.previewPhoto}}" alt="Photo preview"/>-->
        <img src="http://www.uwplatt.edu/files/styles/high_resolution/public/image_fields/directory_image/PhotoNotAvailable_124.jpg" alt="" />
    </div>

    <form class="form-horizontal">
        <fieldset>
            <div class="form-group">
                <label for="inputPhoto" class="col-lg-2 control-label">Photo</label>
                <div class="col-lg-10 browse-photo">
                    <label for="inputPhoto" ><i class="glyphicon glyphicon-file btn btn-info"></i></label>
                    <input type="file" class="form-control" id="inputPhoto" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputTitle" class="col-lg-2 control-label">Title</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="inputTitle" placeholder="Photo Title">
                </div>
            </div>
            <div class="form-group">
                <label for="album" class="col-lg-2 control-label">Album</label>
                <div class="col-lg-10">
                    <select class="form-control" id="album">
                        <option ng-repeat="album in vm.Albums" value="{{album.AlbumId}}">{{album.AlbumName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="categories" class="col-lg-2 control-label"> Categories </label>
                <div class="col-lg-10">
                    <select multiple="" class="form-control" id="categories">
                        <option ng-repeat="category in vm.Categories" value="{{category.CategoryId}}">{{category.CategoryName}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">Portfolio</label>
                <div class="col-lg-10">
                    <label class="control-label"><input type="checkbox" /></label>
                    
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-4">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button ng-click="vm.CheckAlbums()"> TEST </button>
                </div>
            </div>
        </fieldset>
    </form>

</div>


<style>
    .add-photo-form {
        width: 100%;
        max-width: 500px;
    }
    .add-photo-container > h3 {
        color: #eb6864;
    }

    .browse-photo input[type="file"] {
        display: none;
    }
    .browse-photo {
        text-align: center;
    }
    .browse-photo i {
        
        padding-left: 30px;
        padding-right: 30px;
    }
    form {
        width: 100%;
        max-width: 600px;
    }
    .photo-preview-container {
        max-width: 600px;
        width: 100%;
        padding: 30px 10px;
    }
    .photo-preview-container img {
        border-radius: 3px;
    }

    @media(max-width:1200px) {
        .browse-photo {
            text-align: left;
        }
        .browse-photo i {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
</style>