.reference-group {
        display: table;
        height: 300px;
        border-bottom: 1px solid #eee;
        transition: all 150ms ease-in-out;
        cursor: pointer;
        
    }
.reference-link:hover {
    text-decoration: none !important;
}
    .reference-group:hover {
        background-color: #efefef;
        border-radius: 4px;
        
        box-shadow: 0px 0px 5px #333;

    }
    .reference-group:hover p {
        color: #333 !important;
        
    }
    .reference-group:first-of-type {
        margin-top: 20px;
    }
    .reference-group:last-of-type{
        border: none;
    }
    .reference-group .reference-photo-index {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
        padding: 10px;
        
    }
    .reference-group .reference-photo-index img {
        border-radius: 4px;
        border: 1px solid #eee;
    }
    .reference-group .reference-photo-index img.ref-photo {
        max-width: 80%;
    }
    .reference-group .reference-text-index {
        display: table-cell;
        vertical-align: middle;
        padding: 10px;
        text-align: center;
        font-family: 'Kaushan Script', cursive;
        color: #777777 !important;

        
    }

    .pagination-container {
        text-align: center;
        font-size: 0.85em;
        
    }
    .pagination-container .pagination li>a {
        font-family: 'Kaushan Script';
        color: #777;
    }
    .pagination-container .pagination li:hover:not(.active) a {
        color: #333;
    }
    .pagination-container .pagination li.active:hover a {
        color: #777;
    }
