<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://nivesbrelihphotography.si</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>nivesbrelihphotography.si</MSDeployServiceURL>
    <DeployIisAppPath>nivesbrelihphotography.si</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ljiech</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="hostingEu" Order="1" Enabled="False">
          <Destination Path="Data Source=5.10.80.108,780;Initial Catalog=ljiech_nbp;Persist Security Info=True;User ID=ljiech_nbp;Password=ewn5R$61" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="NivesBrelihPhotography.DbContexts.NbpContext, NivesBrelihPhotography" MigrationConfiguration="NivesBrelihPhotography.Migrations.NbpContextMigrations.Configuration, NivesBrelihPhotography" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)hostingEu-Web.config Connection String">
      <ParameterValue>Data Source=5.10.80.108,780;Initial Catalog=ljiech_nbp;Persist Security Info=True;User ID=ljiech_nbp;Password=ewn5R$61</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="hostingEu" />
  </ItemGroup>
</Project>