
/*SELECTED ALBUM TEXTS - START*/



/* WHOLE ALBUM PAGE STYLES */
.album-view-wrapper .album-view-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%; /*limit to 100% screen width*/
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    z-index: 10000; /*positioned over navbar*/
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: stretch;
}

    /*DESCRIPTION WRAPPER ON LEFT WHOLE CONTAINER*/
    .album-view-wrapper .album-view-description .description-wrapper {
        height: 100%;
        width: 30%;
        background-color: white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        border-right: 2px solid #ccc;
        border-bottom: none;
    }

    /*bg img*/
    .album-view-wrapper .album-view-description .background-img {
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        position: relative;
    }
        /*bottom arrow styles*/
        .album-view-wrapper .album-view-description .background-img div.glyphicon {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5em;
            width: 50px;
            height: 50px;
            left: calc(28.57% - 25px);
            top: calc(100% - 100px);
            bottom: 5px;
            color: white;
            color: rgba(255, 255, 255, 0.85);

        }


    /*CONTAINER FOR TEXT*/
    .album-view-wrapper .album-view-description .description-wrapper .text-wrapper {
        width: 80%;
        height: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

        /*TITLE STYLES*/
        .album-view-wrapper .album-view-description .description-wrapper .text-wrapper .title {
            /*margin-bottom: 20px;*/
            text-align: center;
            
        }
        .album-view-wrapper .album-view-description .description-wrapper .text-wrapper .title h3 {
            font-family: 'Kaushan Script', cursive !important;
        }
        /*DATE STYLES*/
        .album-view-wrapper .album-view-description .description-wrapper .text-wrapper .date {
            margin-top: 10px;
            margin-bottom: 30px;
            font-style: italic;
            font-family: 'Kaushan Script', cursive !important;
        }

        /*DESCRIPTION STYLES*/
        .album-view-wrapper .album-view-description .description-wrapper .text-wrapper .description {
            text-align: center;
            overflow-y: auto; /*scroll overflow*/
        }


/* ALBUM DESCRIPTION FOR SMALLER SCREENS*/
.album-view-wrapper .album-view-description-small-screen {
    display: none;
    padding: 10px;
}
    /* ALBUM DESCRIPTION FOR SMALLER SCREENS - date styles*/
    .album-view-wrapper .album-view-description-small-screen p.date {
        padding-top: 10px;
        padding-left: 10px;
        font-style: italic;
    }
    /* ALBUM DESCRIPTION FOR SMALLER SCREENS - DESCRIPTION STYLES*/
    .album-view-wrapper .album-view-description-small-screen p.description {
        padding-top: 20px;
        text-align: center;
    }


/*MAIN CONTENT*/
.album-view-wrapper .album-body {
    margin-top: 100vh; /*MARGIN FOR WHEN THE 100VH COVER PHOTO IS VISIBLE*/
    min-height: 100vh;
}

@media(max-width: 650px) and (orientation: portrait) {
    .album-view-wrapper .album-view-description {
        display: none;
    }

    .album-view-wrapper .album-view-description-small-screen {
        display: block;
    }

    .album-view-wrapper .album-body {
        margin-top: 0px;
    }
}
/*SELECTED ALBUM TEXTS - END*/
