@using System.Collections
@model IEnumerable<NivesBrelihPhotography.Models.PhotoModels.ViewModels.PhotoAlbumView>

@{
    ViewBag.Title = "Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/Content/albums-index-styles")

<br/>


<div id="content-container">

    @Html.Partial("_indexAlbums",Model)

</div>

@section scripts
{
    @Scripts.Render("~/bundles/albums-index-scripts");
}

