
<h3>Admin</h3>
<hr />
<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 admin-controller-selector" ui-sref="photos">
        <span class="admin-selector-text">
            Photos
        </span>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 admin-controller-selector">
        <span class="admin-selector-text">
            Albums
        </span>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 admin-controller-selector">
        <span class="admin-selector-text">
            Blogs
        </span>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-4 admin-controller-selector">
        <span class="admin-selector-text">
            About
        </span>
    </div>


</div>
